# Mobile App Lottery Addiction Guided Project

Many people start playing the lottery for fun, but for some this activity turns into a habit, lottery addicts soon begin spending from their savingsand loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances ofwinning. The instituts has a team of engineers that will build the app, buth they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the [6/49](https://en.wikipedia.org/wiki/Lotto_6/49) lottery and build functions that enables users to answer questions like:
- What is the probability of winning the big prize with a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. [The data set](https://www.kaggle.com/datascienceai/lottery-dataset) has data for 3,665 drawings, dating from 1982 to 2018

In [1]:
import pandas as pd

# Factorials and Combinations functions

our goal is to write code that can enable users to answer probability questions about playing the lottery. Throughout the project, we will need to calculate repeatedly probabilities and combinations. As a consequence, we will start by wrting two functions that we will use often:
- A function that calculates factorials 
- A function that calculates combinations.
To calculate factorials, this is the formular we learned we need to use:
 `n! = n * (n-1)*(n-2)*...2*1` 
In the 6/49 lottery, six numbers are drawwn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it is not put back in the set.

To find the number of combinations when we are sampling without replacement and taking only k objects from a group of n objects, we can use the formular:
`nCk = n!/k!(n-k)!

In [2]:
def factorial(n):
    outcome = 1
    for i in range(1,n):
        outcome = outcome * (n-i)
    final_outcome = n * outcome
    return final_outcome
factorial(4)

24

In [3]:
def combinations(n,k):
    if k <n and k!=0:
        n_factorial = factorial(n)
        denominator = factorial(n-k) * factorial(k)
        return n_factorial/denominator
    elif n ==k:
        return factorial(n)/factorial(k)
    elif k==0:
        return factorial(n)/factorial(n-k)
combinations(4,0)

1.0

In the 6/49 lottery, six numbers are drawn from a set 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13,22,24,27,42,44},he only wins the big prize if the numbers drawn are {13,22,24,27,42,44}. If only one number differs,he dose not win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with various numbers they play on a single ticket (for rach ticket a player chooses six numbers out of 49). So we will start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the mediacl institue and they told us we need to be aware of the following details when we write the function:
- Inside the app, the user inputs six different numbers from 1 to 49
- Under the hood, the six numbers will come as a python list, which will serve as the single input to our function.
- The engineering team wants the function to print the probability value in a friendly way - in a way that people without any probability training are able to understand

In [4]:
def one_ticket_probability(n):
    outcomes = combinations(49,len(n))
    successful_outcome = 1
    probability = successful_outcome/outcomes
    probability_percentage = probability *100
    return_value = "Your probability of winning with this number {} are {:.7}%. In other words you have a chance of 1 in {:,} chances to win".format(n,probability_percentage,combinations(49,len(n)))    
    return return_value

In [5]:
one_ticket_probability([1,2,3,4,5,6])

'Your probability of winning with this number [1, 2, 3, 4, 5, 6] are 7.151124e-06%. In other words you have a chance of 1 in 13,983,816.0 chances to win'

We wrote a function to compute the probability of a player winning the lottery, by accepting a list of unique numbers and returned the probability to the user

# Exploring the historical data

We will focus on exploring the historical data coming from the canada 6/49 lottery. The data set can be downloaded from [Kaggle](https://www.kaggle.com/datascienceai/lottery-dataset)

In [6]:
historical_data = pd.read_csv('649.csv')

In [7]:
historical_data.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [8]:
historical_data.describe()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
count,3665.0,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000
mean,649.0,1819.494952,0.030832,7.327694,14.568076,21.890859,28.978445,36.162619,43.099045,24.599454
std,0.0,1039.239544,0.237984,5.811669,7.556939,8.170073,8.069724,7.190960,5.506424,14.360038
min,649.0,1.000000,0.000000,1.000000,2.000000,3.000000,4.000000,11.000000,13.000000,0.000000
25%,649.0,917.000000,0.000000,3.000000,9.000000,16.000000,23.000000,31.000000,40.000000,12.000000
50%,649.0,1833.000000,0.000000,6.000000,14.000000,22.000000,30.000000,37.000000,45.000000,25.000000
75%,649.0,2749.000000,0.000000,10.000000,20.000000,28.000000,35.000000,42.000000,47.000000,37.000000
max,649.0,3591.000000,3.000000,38.000000,43.000000,45.000000,47.000000,48.000000,49.000000,49.000000

In [9]:
historical_data.info() # no missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
PRODUCT            3665 non-null int64
DRAW NUMBER        3665 non-null int64
SEQUENCE NUMBER    3665 non-null int64
DRAW DATE          3665 non-null object
NUMBER DRAWN 1     3665 non-null int64
NUMBER DRAWN 2     3665 non-null int64
NUMBER DRAWN 3     3665 non-null int64
NUMBER DRAWN 4     3665 non-null int64
NUMBER DRAWN 5     3665 non-null int64
NUMBER DRAWN 6     3665 non-null int64
BONUS NUMBER       3665 non-null int64
dtypes: int64(10), object(1)
memory usage: 315.0+ KB

In [10]:
historical_data.shape # Numbers of rows and columns

(3665, 11)

The data set contains historical data for 3,665 drawings ( each row shows data for a single drawing), dating from 1983 to 2018. For each drawing, we can find the six numbers drawn in the following six columns
- NUMBER DRAWN 1
- NUMBER DRAWN 2
- NUMBER DRAWN 2
- NUMBER DRAWN 3
- NUMBER DRAWN 4
- NUMBER DRAWN 5
- NUMBER DRAWN 6

We are going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The engineering team told us that we need to be aware of the following details:
- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
  - The number of times the combination selected occured in the Canada data     set
  - the probanility of winning the big prize in the next drawing with that combination

In [11]:
historical_data

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45
5,649,6,0,7/17/1982,8,20,21,25,31,41,33
6,649,7,0,7/24/1982,18,25,28,33,36,42,7
7,649,8,0,7/31/1982,7,16,17,31,40,48,26
8,649,9,0,8/7/1982,5,10,23,27,37,38,33
9,649,10,0,8/14/1982,4,15,30,37,46,48,3
10,649,11,0,8/21/1982,7,9,21,33,38,42,45
11,649,12,0,8/28/1982,11,17,19,20,36,43,9
12,649,13,0,9/4/1982,7,14,17,20,37,47,34
13,649,14,0,9/11/1982,25,28,29,30,35,44,3
14,649,15,0,9/18/1982,8,18,36,39,41,47,31
15,649,16,0,9/25/1982,9,12,13,14,44,48,18
16,649,17,0,10/2/1982,4,14,18,40,43,44,5
17,649,18,0,10/9/1982,13,16,18,34,35,36,26
18,649,19,0,10/16/1982,11,23,25,28,29,36,27
19,649,20,0,10/23/1982,7,18,23,25,37,45,39
20,649,21,0,10/30/1982,11,18,19,31,37,45,41
21,649,22,0,11/6/1982,8,14,16,18,31,48,45
22,649,23,0,11/13/1982,4,11,23,24,25,45,41
23,649,24,0,11/20/1982,3,4,19,33,34,48,39
24,649,25,0,11/27/1982,5,17,21,28,30,43,36
25,649,26,0,12/4/1982,6,17,24,36,38,46,29
26,649,27,0,12/11/1982,4,9,10,11,43,46,3
27,649,28,0,12/18/1982,7,13,23,32,33,45,36
28,649,29,0,12/25/1982,11,18,22,28,35,37,42
29,649,30,0,1/1/1983,25,26,31,35,45,48,12
...,...,...,...,...,...,...,...,...,...,...,...
3635,649,3562,0,3/10/2018,2,10,28,43,44,48,39
3636,649,3563,0,3/14/2018,1,9,10,19,33,43,21
3637,649,3564,0,3/17/2018,16,17,35,43,44,46,49
3638,649,3565,0,3/21/2018,1,5,9,12,39,41,28
3639,649,3566,0,3/24/2018,9,11,28,30,45,49,5
3640,649,3567,0,3/28/2018,11,12,19,24,28,46,39
3641,649,3568,0,3/31/2018,3,7,22,26,43,47,48
3642,649,3569,0,4/4/2018,6,8,9,13,34,40,4
3643,649,3570,0,4/7/2018,18,22,36,40,47,49,32
3644,649,3571,0,4/11/2018,3,7,10,32,41,43,33
3645,649,3572,0,4/14/2018,1,11,19,36,48,49,9
3646,649,3573,0,4/18/2018,12,17,19,22,27,39,38
3647,649,3574,0,4/21/2018,12,19,20,30,41,49,9
3648,649,3575,0,4/25/2018,10,14,15,16,40,46,6
3649,649,3576,0,4/28/2018,24,31,33,34,44,46,10
3650,649,3577,0,5/2/2018,4,7,28,36,37,49,21
3651,649,3578,0,5/5/2018,4,18,24,26,33,48,34
3652,649,3579,0,5/9/2018,15,17,21,24,36,37,32
3653,649,3580,0,5/12/2018,6,17,21,34,37,44,13
3654,649,3581,0,5/16/2018,19,21,28,30,39,46,7
3655,649,3582,0,5/19/2018,14,15,28,34,38,44,30
3656,649,3583,0,5/23/2018,4,9,15,20,42,44,31
3657,649,3584,0,5/26/2018,12,13,16,23,39,44,2
3658,649,3585,0,5/30/2018,9,14,17,21,38,39,22
3659,649,3586,0,6/2/2018,2,26,32,40,45,49,29
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [12]:
def extract_numbers(rows):
    rows = rows.iloc[4:10]
    rows = set(rows)
    return rows
    
        
winning_numbers = historical_data.apply(extract_numbers,axis=1)

In [13]:

winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [14]:
def check_historical_occurence(user_list,w):
    set_user_list = set(user_list)
    is_set = set_user_list == w
    sum_is_set = is_set.sum()
    if sum_is_set == 0:
        print('''The combination {} has never occured. This does not mean it is more \n 
        likely to occur now, Your chances to win the big prize in the next drawing using the \n
        combination {} are 0.0000072%. In other words, you have a 1 in 13,983,816 \n
        chances to win.'''.format(set_user_list,set_user_list))
    else:
        print('''The combination {} has occurred before. \n
        This dose not mean it is more likely to occur now. Your \n
        chances to win the big prize in the next drawing using the combination {} are 0.0000072%.In other words, \n
        you have a 1 in 13,983,816 chances to win'''.format(set_user_list,set_user_list))
    
check_historical_occurence([1,2,3,4,5,6],winning_numbers)

The combination {1, 2, 3, 4, 5, 6} has never occured. This does not mean it is more

        likely to occur now, Your chances to win the big prize in the next drawing using the

        combination {1, 2, 3, 4, 5, 6} are 0.0000072%. In other words, you have a 1 in 13,983,816

        chances to win.

We wrote a function to extract the six winning numbers for each row in the dataframe, this was achieved with the help of df.apply() and used set to get each unique values. The user input list was converted to set and compared against the six winning numbers sets, if the numbers inputed by the user is same as the other numbers, it will return True else False. After this we tested the function with a random variable

Lottery addicts play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chnaces of winning- on this screen, we are going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We have talked with the engineering team and they gave us the following information:
- The user will input the number of different tickets they want to play (without inputting the specific combinations thay intend to play)
- Our function will see an integer between 1 and 13,983,816 ( the maximum number of different tickets)
- The functionshould print information about the probability of winning the big prize dependind on the number of tickets played.

In [15]:
def multi_ticket_probability(n_tickets):
    total_outcomes = combinations(49,6)
    probability_percent = (n_tickets/total_outcomes)*100
    if n_tickets ==1:
        print('''Your chances to win the big prize with one ticket \n 
        is {:.6f}%. In other words, you have a 1 in  {:,} chances to win.'''.format(probability_percent,total_outcomes))
    else:
        combinations_simplified = round(n_tickets/total_outcomes)
        print('''Your chances to win the big prize with {} tickets \n
        is {:.6f}%. In other words, you have a 1 in \n
        {:,} chances to win'''.format(n_tickets,probability_percent,combinations_simplified))

In [16]:
test_list = [1,10,100,10000,1000000,6991908,13983816]
for i in test_list:
    multi_ticket_probability(i)
    print("\n")

Your chances to win the big prize with one ticket

        is 0.000007%. In other words, you have a 1 in  13,983,816.0 chances to win.


Your chances to win the big prize with 10 tickets

        is 0.000072%. In other words, you have a 1 in

        0 chances to win


Your chances to win the big prize with 100 tickets

        is 0.000715%. In other words, you have a 1 in

        0 chances to win


Your chances to win the big prize with 10000 tickets

        is 0.071511%. In other words, you have a 1 in

        0 chances to win


Your chances to win the big prize with 1000000 tickets

        is 7.151124%. In other words, you have a 1 in

        0 chances to win


Your chances to win the big prize with 6991908 tickets

        is 50.000000%. In other words, you have a 1 in

        0 chances to win


Your chances to win the big prize with 13983816 tickets

        is 100.000000%. In other words, you have a 1 in

        1 chances to win

For extra context, in most 6/49 lotteries there are smaller prizes if  a player's ticket match two, three, four, or five of the six numbers drawn.As a consequence, the users might be interested in knowing the probability of having two, three,four,or five winning numbers.
There are the engineering details we will need to be aware of:
- Inside the app, the user inputs:
- six different numbers from 1 to 49 
- An integer between 2 and 5 that represnts the number of winning numbers expected 
- Our function prints informationabout the probability of having the inputted number of winnning numbers

In most 6/49 lotteries there are smaller prize if a player's ticket match two,three,four,or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four or five winning numbers.
These are thr engineering details we will need to be aware of inside the app, the user inputs
- six different numbers from 1 to 49,
- an integer between 2 and 5 that represents the number of winning numbers expected
- Our function prints information about the probability of having the inputted number of winning numbers.

In [17]:
def probability_less_6(no_winning_number):
    """ no_winning_number must be lesser than 6 i.e between 2-5"""
    first_outcome = combinations(6,no_winning_number)
    second_outcome = combinations(43,6-no_winning_number)
    successful_outcome = first_outcome * second_outcome 
    total_possible_outcome = combinations(49,6)
    probability = successful_outcome/total_possible_outcome
    probability_percentage = probability * 100
    combination_simplified = round(total_possible_outcome/successful_outcome)
    print("""Your chance of winning with {} tickets is {:.6}%. \n
    That means you have 1 in {} """.format(no_winning_number,probability_percentage,combination_simplified))

In [18]:
for i in [2,3,4,5]:
    probability_less_6(i)

Your chance of winning with 2 tickets is 13.2378%.

    That means you have 1 in 8
Your chance of winning with 3 tickets is 1.76504%.

    That means you have 1 in 57
Your chance of winning with 4 tickets is 0.096862%.

    That means you have 1 in 1032
Your chance of winning with 5 tickets is 0.00184499%.

    That means you have 1 in 54201

In [19]:
def probability_exactly_winning_no(winning_no):
    first_outcome = combinations(6,winning_no)
    second_outcome =  combinations(43,6-winning_no)
    successful_outcome = first_outcome*second_outcome
    possible_outcomes = combinations(49,6)
    probability = successful_outcome/possible_outcomes
    return probability

In [20]:
probability_exactly_winning_no(2) *100

13.237802900152577

In [21]:
def probability_less_than_winningno(winning_no):
    sum_probability = 0
    successful_outcome =0
    for i in range(winning_no,7):
        sum_probability += probability_exactly_winning_no(i) # starts from winning number and increases it
        successful_outcome +=(probability_exactly_winning_no(i)* combinations(49,6))
    combinations_simplified = round(combinations(49,6)/successful_outcome)
    print("""Your chances of winning at least {} winning numbers\n
    are {:.6}%. That means you have 1 in {}\n
    """.format(winning_no,sum_probability,combinations_simplified))

In [22]:
probability_less_than_winningno(4)

Your chances of winning at least 4 winning numbers

    are 0.000987141%. That means you have 1 in 1013